* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    margin-right: 300px;
}

#titleQuestion{
    font-size: 35px;
    margin-bottom: 5px;
}
#goBackquiz{
    all: unset;
    font-size: 30px;
    margin-left: 1200px;
    border: 3px solid black;
}

.quizButton{
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border: 2px solid blue;
}

.playAgain{
  all: unset;
  font-size: 30px;
  border: 3px solid black;
  margin-top: 300px;
  margin-right: 1200px;
}

.que{
    text-align: center;
}
h4{
    text-align: center;
}
.checkButton{
    all: unset;
    font-size: 25px;
    border: 3px solid black;
}
#images{
    width: 500px;
    height: 350px;
}


