* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game > button{
    all: unset;
    margin-top: 20px;
    font-size: 30px;
    border: 2px solid black;
    width: 300px;
    height: 150px;
    text-align: center;
}

.game > button:hover{
    color: red;
    width: 400px;
    height: 200px;
    transition: 0.8s;
}

.games > img{
    height: 260px;
    width: 1300px;
}

